.title{
    background-color: white;
    text-align: center;
}
.title2{
    background-color: #636161;
    color: red;
}
.title3{
    background-color: rgb(153, 150, 150);
    color: rgb(87, 32, 149)
}
.p-1{
    background-color:  rgb(199, 199, 199);
}
.blue{
    color: rgb(22, 22, 238);
}